/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

body{
    background-color: #b2bec3;
    font-family: 'Nunito', sans-serif;
}

h1{
    color:#d63031;
    font-size: 36px;
    font-weight:bold;
    margin:0;
}

p{
    font-size: 18px;
    text-align:justify;
    margin-bottom:30px;
    margin-top:30px;
}

.box {
    width:550px;
    padding:30px;
    position:relative;
    margin:auto;
    background-color:white;
    border-radius:10px;
    box-shadow: 5px 5px 5px grey;  
    margin-top:150px;
    margin-bottom:150px;
}

.photo{
    width:150px;
    border-radius: 50%;
    border: 3px solid white;
    position:absolute;
    left:475px;
    bottom:80%;
    box-shadow: inherit;
}

a {text-transform: uppercase;
    text-decoration:none;
    color:white;
    font-size:18px;}

.twitter{
    display:block;
    width:100%;
    text-align: center;
    font-weight: bold;
    padding:10px;
    border-radius:5px;
    background-color:  #1da1f2;
}
.twitter:hover{
    background-color:#0b7bc1;
    }


.facebook{
    display:block;
    width:100%;
    text-transform: uppercase;
    text-decoration:none;
    text-align: center;
    color:white;
    width:100%;
    font-size:18px;
    font-weight: bold;
    padding:10px;
    border-radius:5px;
    background-color: #3b5998;
    margin-top:5px;
}
.facebook:hover{
    background-color: #2b406e;
}